<p>
  <strong>Author:</strong>
  <%= review.author %>
</p>

<p>
  <strong>Body:</strong>
  <%= review.body %>
</p>

<p>
  <%= link_to 'Destroy Review', [review.product, review],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
